Repository typedb/bazel-distribution, pull requests merged in 2019-01, with the labels that each got.

#16 Put distribution into its own folder _inside_ the archive
  distribution/rules.bzl
  distribution/tgz2zip.py
Labels: build, v1.5

#19 the distribution() macro now takes in 'name' attribute
  distribution/rules.bzl
Labels: bug, v1.5

#15 Fix rpm rules on mac
  distribution/rules.bzl
  rpm/README-GRAKN.txt
  rpm/pkg_rpm_modified_from_bazel/BUILD
  rpm/pkg_rpm_modified_from_bazel/make_rpm.py
  rpm/pkg_rpm_modified_from_bazel/rpm.bzl
  rpm/pkg_rpm_modified_from_bazel/rules.bzl
Labels: build, v1.5

#28 Rules for deploying RPM packages (#24)
  rpm/deployment/BUILD
  rpm/deployment/rules.bzl
  rpm/templates/BUILD
  rpm/templates/deploy.sh
Labels: build, feature, v1.5

#38 GitHub rules naming consistency (fix #37)
  github/BUILD
  github/dependencies.bzl
  github/deploy.py
Labels: build, v1.5
