Repository typedb/bazel-distribution, pull requests merged in 2022-11, with the labels that each got.

#361 Make `assemble_crate` version default to its target's version
  crates/rules.bzl
Labels: type: feature, priority: medium, domain: crates

#362 Prepend 0.0.0 to the version of `assemble_crate` if it looks like a commit SHA
  crates/rules.bzl
Labels: type: bug, priority: high, domain: crates

#346 [assemble-pip] Add python_requires to limit package to python 3 only
  pip/assemble.py
  pip/rules.bzl
  pip/templates/setup.py
Labels: type: feature, domain: pip
