Repository typedb/bazel-distribution, pull requests merged in 2024-01, with the labels that each got.

#395 Fix bug with maven deployment
  common/uploader/nexus.py
  maven/templates/deploy.py
Labels: type: bug, domain: maven

#397 Release candidate support
  crates/CrateAssembler.kt
  maven/PomGenerator.kt
  maven/rules.bzl
  npm/assemble/rules.bzl
  pip/rules.bzl
Labels: priority: blocker, domain: crates, domain: pip, domain: maven, domain: npm

#399 Add unizp_file utility rule
  common/rules.bzl
  common/zip/rules.bzl
Labels: type: feature, priority: blocker, domain: build

#400 targz_edit: add support for glob exclusion patterns
  common/targz/rules.bzl
Labels: type: feature, priority: blocker, domain: build
